//
// Variables used by the this app.
//
$text: #333;
$black: #000;
$white: #fff;

// Tweaked Boostrap colors.
$app-primary: #F05C44;
$app-secondary:#a0a0a0;
$app-light:#e0e0e0;
$app-info: #44859C;

// Default Bootstrap colors.
$app-success:#37bd74;
$app-danger:#e8286b;
$app-warning:#ff9b37;
$app-dark:#3c4055;


