// Variables
@import 'variables';

// Customise bootstrap.
@import 'bootstrap';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap Vue
@import '~bootstrap-vue/src/index.scss';
@import 'slider';

// Ol tweaks
@import 'ol.scss';

// Misc!
// @todo Refactor somewhere tidier when there's more here.
*:focus {
    outline: 0 !important;
}

.text-link {
    cursor: pointer;
}

.bw-filter {
    filter: grayscale(100%) invert(1);
}

.text-sm {
    font-size: 0.7875rem
}


