// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

// Variables
@import 'variables';

// Customise bootstrap.
@import 'bootstrap';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Ol tweaks
@import 'ol.scss';

// Misc!
// @todo Refactor some tidier when there's more here.
*:focus {
    outline: 0 !important;
}
.text-link {
    cursor: pointer;
}
.bw-filter {
    filter: grayscale(100%) invert(1);
}

// This should perhaps come from importing the Bootstrap-Vue SCSS but I am wary
// of that till I know more about what's in it.
.modal-backdrop {
    opacity: 0.5
}
